<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="keywords" content="">
<meta name="description" content="">
<title>Bubbles</title>
<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag("application") %>	 
</head>
<body>
<div id="container">
	<div id="main">

			<div id="logo">
			<h1>Bubbles</h1>
			<span id="tagline">Peek in my head</span>
			<h2><%= link_to "New", new_bubble_path %>
			</div>



			   <%= yield %>

   </div>
</div>

</body>
</html>
