<% div_for bubble do %>

	<blockquote>
		<p>
			<%= bubble.converted_body %>
		</p> 
	</blockquote>
	<cite>
		<strong><%= link_to bubble.user.login, :controller=> "bubbles", :action => "list", :id => bubble.user.login %></strong>  
	
		<%= link_to_aim (bubble.user) %>
	
		<% if bubble.user == current_user %>
			<%= link_to_remote '(pop)', :url => bubble_path(bubble),  :method => :delete %>
	    <% end %>
	</cite>    

<% end %>