<h2>Help</h2>
<p>Great!  Now that you've signed up, you'll need to add the Ai Bubbles (ro)Bot to your AIM friends.  Do this by adding (+) 'aibubblesbot' - this will allow to receive AIM notifications according to your preferences</p>