<%= periodically_call_remote :url => { :action => :refresh_bubbles, :last_updated => @last_retrieval } %>  


<div id='update_placeholder'></div>
<% if @bubbles %>
	<%= 
			render :partial => 'bubble', :collection => @bubbles
    
	%>
<% end %>
