<% form_for :bubble, @bubble, :url => {:action => :create } do |f| %> 

	<p class="field"> 
		<%= f.text_area  :body, :cols => '80' %>
	</p> 
	<p>
		<%= submit_tag 'Create Bubble'%>
	</p> 
 
<% end %> 
