<% div_for bubble, :class => 'header_style' do %> 
	<% screenname = 'mosofoco' %>    
	<div class="userlink">
   		<a href="aim:goim?screenname=<%= screenname %>"><%= bubble.user.login %></a> <em>is churning on ...</em></div>
 
	<div class="bubble_body">
		<%= bubble.converted_body %>
	</div>
	
	<div class="bubble_delete">
		<% if bubble.user == current_user %>
			<%= link_to_remote 'kill this bubble', :url => bubble_path(bubble),  :method => :delete %>
	    <% end %>
	</div>
	
<% end %>