<%= periodically_call_remote :url => { :action => :refresh_bubbles, :last_updated => @last_retrieval } %>  


<div id='update_placeholder'></div>

<% if @bubbles %>
	<% unless action_name == 'search' or action_name == 'list' %>
		<%= will_paginate @bubbles %>
	<% end %> 
	<%= 
			render :partial => 'bubble', :collection => @bubbles
    
	%>
<% end %>
