<div>
<% form_for :bubble, @bubble, :url => {:action => :create } do |f| %> 

	<p class="field"> 
		<%= f.text_area  :body, :cols => '80' %>
	</p> 
	<p style="clear:left">
		<%= submit_tag 'Create Bubble'%>
	</p> 
 
<% end %> 
</div> 
<div class="help">
	In order to have your code highlighted, do the following ... when you're ready to show a code snippet, start a new line and type "***" directly
	followed by the language you'd like to highlight (ruby,css,js,html).  On a new line start your code snippet.  When you'd like to return to basic
	text formatting, end your code snippet on a new line by typing "***" (without the language)<br/><br/>
	Here is my regular text<br/><br/>
	***ruby<br/>
	def follow_by_a_code_snippet<br/>
	&nbsp;&nbsp;puts "this is cool"<br/>
	end<br/>
	***
	
</div>       
